.titre h3 {
    color: #FF6060;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 500;
    margin: 0;
}

.flexbox3 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

ul {
    list-style-type: none;
}

.tagContain ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.tagContain li {
    background-color: #FF6060;
    padding: 5px 30px;
    margin-right: 10px;
    border-radius: 15px;
    color: white;
    font-weight: bold;
}

.star {
    color: #FF6060;
    font-size: 40px;
}

.emptystar {
    font-size: 40px;
    color: #E3E3E3;
}

.hostContain {
    display: flex;
    align-items: center;
}

.host {
    text-align: end;
    margin-right: 15px;
}

.flexbox2 {
    justify-content: end;
    flex-direction: column;
}

@media screen and (max-width: 768px) {
.article-details {
    position: relative;
    margin: 20px 20px;
}

    .flexbox, .flexbox2, .flexbox3 {
        flex-wrap: wrap;
    }

    .tagContain {
        margin: 0;
    }

    .star {
        width: 10%;
        font-size: 18px;
    }

    .emptystar {
        font-size: 18px;
    }

    .host {
        width: 60px;
        flex-wrap: wrap;
        text-align: end;
        font-size: 10px;
    }

    .hostIMG {
        width: 33px;
    }

    .tagContain {
        margin: 0;
    }

    .tagContain ul {
        flex-wrap: wrap;
    }

    .tagContain li {
        width: 10px;
        justify-content: center;
        font-size: 10px;
    }

    .titre h3 {
        font-size: 18px;
    }

    .dropdown h3 {
        font-size: 13px;
    }

    p {
        font-size: 13px;
        line-height: 20px;
    }

    .description {
        font-size: 13px;
        line-height: normal;
    }

    .flexbox2 {
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 0;
    }
}