.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
    margin: 50px;
    padding: 50px;
    background-color: #F6F6F6;
    border-radius: 13px;
    max-height: 658px;
    overflow: scroll;
}

.article {
    border-radius: 13px;
    position: relative;
}

.imgArticle {
    width: 300px;
    height: 300px;
    border-radius: 13px;
    object-fit: cover;
}

h2 {
    font-size: 18px;
    color: white;
    position: absolute;
    bottom: 20px;
    left: 20px;
    max-width: 77%;
  }