header {
    display: flex;
    justify-content: space-between;
    margin: 30px 50px;
}

nav {
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: #000;
    text-decoration-line: none;
}

nav a:hover {
    text-decoration-line: underline;
}