.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;font: fallback;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.dropdown {
  background-color: #FF6060;
  color: white;
  padding: 1px 10px;
  margin: 10px;
  border-radius: 10px;
}

.dropdowns {
  margin: 30px 300px;
}

.dropdowns2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  transition: max-height 0.3s ease-out;
}

.dropdown-content.open {

}

.dropdown2 {
  background-color: #FF6060;
  color: white;
  padding: 15px 10px;
  margin: 10px;
  border-radius: 10px;
}

.containDropdown {
  width: 45%;
}

.description {
  color: black;
  margin: -18px 10px auto 10px;
  padding: 1px 30px;
  z-index: -1;
  position: relative;
  line-height: 150%;
  background-color: #F6F6F673;
  border-radius: 13px;
}

.description p {
  color: black;
}

.flexbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexbox2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 15%;
}

.hostIMG {
  border-radius: 100px;
}

.host {
  color: #FF6060;
  display: flex;
  flex-wrap: wrap;
  width: 99px;
}

.article-details {
  margin: 50px;
}

.artBan {
  object-fit: cover;
  height: 415px;
  border-radius: 13px;
  width: 100%;
}

li {
  margin-bottom: 5px;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
