.notfound {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.qcq {
    display: flex;
    justify-content: center;
    margin: 150px;
    height: 250px; 
}

.oups {
    color: #FF6060;
font-family: Montserrat;
font-size: 36px;
font-style: normal;
font-weight: 500;
line-height: 142.6%;
display: flex;
justify-content: center;
margin: 0;
}

.backHome {
    display: flex;
    justify-content: center;
    margin: 150px;    
}