.carousel-btn {
    border: none;
    width: 50px;
    height: 50px;
    align-items: center;
    display: flex;
    font-size: 39px;
    margin: -70px;
    position: relative;
    background: none;
  }

  .carousel-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
  }

  .carousel-btn.prev-btn {
    transform: rotateY(180deg);
}

.artBan {
    object-fit: cover;
    height: 415px;
    border-radius: 13px;
    width: 100%;
  }

  .photo-counter {
    color: white;
    position: absolute;
    bottom: 25px;
  }

  @media screen and (max-width: 768px) {
    .flch {
      width: 25px;
      margin: 60%;
    }

    .artBan {
      height: 255px;
    }

    .photo-counter {
      display: none;
    }
  }