.dropdowns {
  margin: 25px 0;
  display: flex;
  flex-direction: column;

  &.open .description {
    max-height: 500px;
  }
}

.dropdown {
  padding: 1px 10px;
  border-radius: 10px;
  background-color: #FF6060;
  color: white;
  display: flex;
  justify-content: space-between;
}

.dropdowns2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.dropdown2 {
  background-color: #FF6060;
  color: white;
  padding: 15px 10px;
  border-radius: 10px;
}

.containDropdown {
  width: 47%;
}

.description, .description2, .description3 {
  padding: 1px 30px;
  line-height: 150%;
  background-color: #f6f6f6;
  border-radius: 13px;
  margin: -25px 0 25px 0;
  z-index: -1;
  position: relative;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;

  p {
    color: black;
    margin-top: 40px;
  }

  ul {
    margin: 35px 0 0 -40px;
  }
}

.description2, .description3 {
  margin: -25px 0;
}

.arrow {
  width: 30px;
  transition: transform 0.4s ease;
}

.dropdowns.open .arrow {
  transform: rotate(-180deg);
}

.about-list {
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}

@media screen and (max-width: 768px) {
  .dropdowns2 {
    flex-direction: column;
  }

  .containDropdown {
    width: auto;
  }

  .dropdowns {
    margin: 10px 0;
  }

  .tagContain ul {
    padding: 0;
  }
}
