header {
    display: flex;
    justify-content: space-between;
    margin: 30px 50px;
}

nav {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: #000;
    text-decoration-line: none;
    font-size: 24px; 
}

nav a:hover {
    text-decoration-line: underline;
}

.active {
    text-decoration: underline;
  }

  @media screen and (max-width: 768px) {
header {
    align-items: center;
    margin: 20px 20px;
}

    nav {
        align-items: flex-end;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: right;
        gap: 26px;
    }

    nav a {
        font-size: 99%;
    }

    .logo {
        height: 50px;
        margin-bottom: 0px;
      }

    .tagContain li {
        align-items: center;
        display: flex;
    }
}